<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora.content</h1>

    <h3>Your post id: <%= post.id %></h3>
    <div class="post">
        <p>user @<%= post.username%> </p>
        <form method="POST" action="/post/<%= post.id %>?_method=PATCH" >
            <textarea name="content" id="" cols="30" rows="10"><%= post.content %></textarea>
            <button>submit</button>
        </form>
     </div>

</body>
</html>