<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora.create</h1>
    <form method="post" action="/post">
        <input type="text" placeholder="username" name="username">
        <br></br>
        <textarea name="content" id="" cols="30" rows="10" placeholder="write yout content"></textarea>
        <br><br>
        <button>submit</button>
    </form>
</body>
</html>