.post{
    background-color: lightsalmon;
}

h1{
    color: maroon;
}

.user{
    color: rgb(73, 155, 248);
    font-style: italic;
}

.content{
    color: rgb(31, 144, 3);
    font-family: Arial, Helvetica, sans-serif;
}